<div class="container">
  <h1 class="title">Edit Your Team: <%= @team.name %></h1>
  <%= simple_form_for @team do |f| %>
    <div class="row">
      <% 6.times do |i| %>
  <% current_member_id = @team.team_members[i]&.pokemon_id %>

  <div class="col-md-4 mb-3">
    <div class="slot-wrapper">
      <label class="fw-bold text-dark">Slot <%= i + 1 %></label>
      <%= f.input :pokemon_ids,
                  collection: @available_pokemon,
                  label: false,
                  prompt: "Select a Pokemon",
                  selected: current_member_id,
                  input_html: {
                    name: "team[pokemon_ids][#{i}]",
                    class: "rounded-pill shadow-sm"
                  } %>
    </div>
  </div>
<% end %>
    <%= f.submit "Update Team", class: "btn btn-primary" %>
  <% end %>
    </div>
    <div class="container mt-4">
    <%# Use fields_for to target the Message model %>
      <%= simple_form_for [@team, Message.new] do |m| %>
        <%= m.input :content,
              as: :text,
              label: "Ask the AI for Advice",
              placeholder: "e.g. Can I get a Scizor before the Elite Four?" %>
          <%= m.hidden_field :role, value: "user" %>
        <%= m.submit "Ask AI", class: "btn btn-primary" %>
      <% end %>
      </div>
</div>
