<h1><%= @team.name %></h1>
<!--replace with team name-->
<div class="party d-flex justify-content-between">
  <% @team.team_members.each do |member| %>
    <div class="pokemon1">
      <h3><%= member.pokemon.name %></h3>
      <p>Ability: <%= member.ability %></p>
      <p>Nature: <%= member.nature %></p>
      <p>Item: <%= member.held_item %></p>
      <h3>Move Set</h3>
      <ul>
        <li><%= member.move_1 %></li>
        <li><%= member.move_2 %></li>
        <li><%= member.move_3 %></li>
        <li><%= member.move_4 %></li>
      </ul>
    </div>
  <% end %>
</div>
<%= link_to "My Teams", playthrough_teams_path(@playthrough), class: "btn btn-info fw-bold rounded-pill shadow-sm" %>
