<h1 class= "choose-card">Choose a game</h1>

<%= image_tag "https://www.pokemon.co.jp/ex/VCAMAP/game/images/ss_12.jpg", alt: "ポケモンバージョン", class: "poke-logo" %>

<div class="container py-5">
  <h2 class="fw-bold mb-4">Select Your Version</h2>

  <h1 class="title">Build Your Team</h1>
  <%= simple_form_for @playthrough do |f| %>
  <div class="version-cards">
    <% Playthrough::GAME_VERSIONS.each do |version| %>
      <label for="<%= version %>" class="card-version">
        <input id="<%= version %>" type=radio name=playthrough[game_version] class="d-none" value="<%= version %>" />
        <%= image_tag version, alt: "pokemon #{version} cover", class: "game-cover" %>
      </label>
    <% end %>
  </div>
  <br>
<div class="d-flex justify-content-center mt-4">
  <%= f.submit "Next", class: "pokemon-btn" %>
</div>
<% end %>
</div>
