<h1>New Playthrough</h1>

<%= form_with model: @playthrough do |f| %>

  <%= f.label :game_version %>
  <%= f.text_field :game_version %>

  <h3>Choose your starter</h3>

  <%= select_tag :starter_pokemon_id,
      options_from_collection_for_select(Pokemon.all, :id, :name) %>

  <%= f.submit "Create" %>

<% end %>
